@yellow: #ffff8c;

html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 12pt;
}

.search  {
	background-color: @yellow;
	display: none;
	.material-icons {
		font-size: 30pt;
	}
	
	input {
		font-size: 2.3em;
		border:none !important;
		box-shadow: none !important;
	}

	input[type="text"]:focus {
		border:none !important;
		box-shadow: none !important;
	}
	
}