<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Promos</title>
	<!-- Materialize -->
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../bower_components/materialize/dist/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="../css/navbar-visitor.css">
	<link rel="stylesheet" href="../css/index-style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
<!--	<script src="../js/app.js"></script>-->
	 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" ></script>
      <script src="../js/ui-bootstrap-tpls-0.14.3.min.js"></script>
<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>

<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
	
<script src="../componentes/descuentos.js"></script>

</head>
<body ng-app="descuentosApp" ng-controller="descuentosController">
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper">
				<a href="#!" class="brand-logo"><img id="logo" src="../img/logo.png"><span>PROMOS</span></a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
				  	<li id="search-icon"><a href="#"><i class="material-icons">search</i></a></li>
					<li><a href="registrarse.html">Registrarse</a></li>
		        	<li><a href="#">Iniciar Sesión</a></li>
				</ul>
			</div>
		</nav> <!-- FIN nav -->
	</div>

	<ul class="side-nav" id="mobile-demo">
		<li><a href="#">Registrarse</a></li>
    	<li><a href="#">Iniciar Sesión</a></li>
    	<li><a href="#"><i class="material-icons white-text">search</i></a></li>
	</ul>
	
	<div class="container-fluid">
	
	<!-- Barra de busqueda -->
	<div class="search row">
		<div class="hide-on-med-and-down col l12">
			<form  method="GET">
				<div class="input-field">
					 <i class="material-icons prefix">search</i>
	          		<input id="icon_prefix" type="text" class="validate" ng-model="filtro.busqueda" placeholder="Buscar...">
	          		<input type="submit" hidden name="" value="LOL">
				</div>
			</form>
		</div>
	</div>
	
	<!-- SLIDER -->
		<div class="carousel carousel-slider center" data-indicators="true">
			<!-- <img class="carousel-item" src="../img/logo.png"> -->
			<!-- <img  class="carousel-item" src="../img/bici.png" alt=""> -->
		    <div id="bici" class="carousel-item white-text" href="#one!">
				<div class="info">
					<h1 class="white-text">Bicicleta de Montaña Fortified</h1>
					<div class="row descuento">
						<h1>-50% de Descuento</h1>
					</div>
				      <div class="row">
				      	<a href="verProductos.html?key=-KlsXhAe2nYDO92WTDCf" class="btn btn-default">Ver Descuento</a>
				      </div>
				      
				</div>
		      
		    </div>
		    
		     <div id="hospital" class="carousel-item white-text" href="#one!">
				<div class="info">
					<h1 class="white-text">Consultas Médicas Especializadas</h1>
					<div class="row descuento">
						<h1>-40% de Descuento</h1>
					</div>
				      <div class="row">
				      	<a href="verServicios.html?key=-KlsYjcS7goeoYy2HmZ-" class="btn btn-default">Ver Descuento</a>
				      </div>
				      
				</div>


		      
		    </div>

		     <div id="beats" class="carousel-item white-text" href="#one!">
				<div class="info">
					<h1 class="white-text">Beats Solo3 Wireless On-Ear Headphone</h1>
					<div class="row descuento">
						<h1>-60% de Descuento</h1>
					</div>
				      <div class="row">
				      	<a href="verProductos.html?key=-KlsZRwWNxGzo61j3yU9" class="btn btn-default">Ver Descuento</a>
				      </div>
				      
				</div>

				
		      
		    </div>
		</div>

		<!-- Barra de tabs -->
		<nav id="tabs" class="nav-extended">
			<div class="nav-content">
		      <ul class="tabs tabs-transparent center-align">
		        <li class="tab"><a class="active" href="#test1">Productos</a></li>
		        <li class="tab"><a href="#test2">Servicios</a></li>
		        <li class="tab"><a href="#test4">Restaurantes</a></li>
		      </ul>
    		</div>
		</nav>
	</div> <!-- FIN container-fluid -->


	<!-- ken -->
	<div class="container-fluid"  >
	

		<div id="cards-container" class="row col m12">
			
			<!-- Comienxo Poductos -->
	<div class="form-group">
  <label for="sel1">Select list:</label>
  <select ng-model="filtro.categoria" class="form-control" id="sel1">
    <option>Servicios</option>
    <option>Productos</option>
  </select>
</div>
  
			<!-- Comienxo Restaurantes -->
			<section id="restaurantes">
				<h3>Restaurantes</h3>
				<!-- Colunma 1 -->
				<div class="row col s12 m12 l6 columna-1">
				<div  class="col s6 m6" ng-repeat="descuento in descuentos | filter:filtro.busqueda | filter:filtro.categoria "> 
					
					 <div data-toggle="modal" data-target="#myModal" ng-click="verPublicacion(descuento)" class="card small-card">

			            <div class="card-image">

			              <img src="../img/audifonos.jpg">
			              <span class="sale">-{{descuento.descuento}}%</span>
			            </div>
									 <div class="action">
				         
		              		<a class="waves-effect waves-light btn"><span class="titulo truncate">{{ descuento.nombre }}</span><i class="material-icons right">keyboard_arrow_right</i></a>
			            </div>
			            <input class="key" type="text"  value="" hidden>
			          </div>
				</div>

				  <!-- Card descuento PEQUEÑA-->
				
					
				</div><!-- FIn columna 2 -->
				<!-- FIN SERVICIOS -->
			</section>

		</div><!-- Fin Cards-container -->
	</div>

	


  
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
			 <img src="../img/audifonos.jpg"  width="100" height="100">
          
          <h4 class="modal-title">{{dato.nombre}} </h4>
        </div>
        <div class="modal-body">
          <p> Nombre :  {{dato.nombre}} </p>
		  <p> Costo               : {{objeto.costo}} </p>
		  <p> Descuento           : {{dato.descuento}}% </p>
		  <p> Establecimiento : {{auxiliar.nombre}}</p>		
		  <p> Horario Servicio : {{auxiliar.horarioServicio}}
		<div ng-hide="servicios">
			<p>Fecha:<input type="date" name="bday"></p>
			<label class="checkbox-inline">Hora  de la cita : </label>			
			<label class="checkbox-inline"><input type="number" ng-model="objeto.hora" placeholder="HH" value="1" min="1" max="24" step="1"  required="required"></input></label>
			<label class="checkbox-inline"><input type="number" ng-model="objeto.minutos" placeholder="MM" value="1" min="0" max="59" step="1"  required="required"></input></label>
			
			<br/>
			<button  type="button" class="btn btn-default" ng-click="agendarCita()">Agendar Cita</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
		<div ng-hide="!servicios">
			Cantidad : <input  type="number" ng-model="objeto.cantidad" placeholder="Cantidad" value="1" min="1" max="10" step="1"  required="required"></input>
			<button type="button" class="btn btn-default" ng-click="agendarCita()">Comprar</button>
			   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
		</div>
        
		
		
      </div>
      
    </div>
  
  




	<!-- SCRIPTS -->
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script src="../bower_components/materialize/dist/js/materialize.min.js"></script>
	<script src="../js/index.js"></script>
</body>
</html>

