<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Promos</title>
	<!-- Materialize -->
	<link rel="stylesheet" href="../bower_components/materialize/dist/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="../css/navbar-visitor.css">
	<link rel="stylesheet" href="../css/index-style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.0.2/angularfire.min.js"></script>
	<script src="../js/app.js"></script>
</head>
<body ng-controller="MyCtrl as ctrl">
      <!-- <pre>
{{ ctrl.object | json }}
      </pre> -->
      <!-- <p ng-repeat="descuento in toArray(listaDescuentos) | limitTo: toArray(lista).length/2">
      	{{descuento.titulo}}
      </p> -->
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper">
				<a href="#!" class="brand-logo"><img id="logo" src="../img/logo.png"><span>PROMOS</span></a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
				  	<li id="search-icon"><a href="#"><i class="material-icons">search</i></a></li>
					<li><a href="registrarse.html">Registrarse</a></li>
		        	<li><a href="#">Iniciar Sesión</a></li>
				</ul>
			</div>
		</nav> <!-- FIN nav -->
	</div>

	<ul class="side-nav" id="mobile-demo">
		<li><a href="#">Registrarse</a></li>
    	<li><a href="#">Iniciar Sesión</a></li>
    	<li><a href="#"><i class="material-icons white-text">search</i></a></li>
	</ul>
	
	<div class="container-fluid">
	
	<!-- Barra de busqueda -->
	<div class="search row">
		<div class="hide-on-med-and-down col l12">
			<form  method="GET">
				<div class="input-field">
					 <i class="material-icons prefix">search</i>
	          		<input id="icon_prefix" type="text" class="validate" placeholder="Buscar...">
	          		<input type="submit" hidden name="" value="LOL">
				</div>
			</form>
		</div>
	</div>
	
	<!-- SLIDER -->
		<div class="carousel carousel-slider center" data-indicators="true">
			<!-- <img class="carousel-item" src="../img/logo.png"> -->
			<!-- <img  class="carousel-item" src="../img/bici.png" alt=""> -->
		    <div id="bici" class="carousel-item white-text" href="#one!">
				<div class="info">
					<h1 class="white-text">Bicicleta de Montaña Fortified</h1>
					<div class="row descuento">
						<h1>-50% de Descuento</h1>
					</div>
				      <div class="row">
				      	<a href="verProductos.html?key=-KlsXhAe2nYDO92WTDCf" class="btn btn-default">Ver Descuento</a>
				      </div>
				      
				</div>
		      
		    </div>
		    
		     <div id="hospital" class="carousel-item white-text" href="#one!">
				<div class="info">
					<h1 class="white-text">Consultas Médicas Especializadas</h1>
					<div class="row descuento">
						<h1>-40% de Descuento</h1>
					</div>
				      <div class="row">
				      	<a href="verServicios.html?key=-KlsYjcS7goeoYy2HmZ-" class="btn btn-default">Ver Descuento</a>
				      </div>
				      
				</div>


		      
		    </div>

		     <div id="beats" class="carousel-item white-text" href="#one!">
				<div class="info">
					<h1 class="white-text">Beats Solo3 Wireless On-Ear Headphone</h1>
					<div class="row descuento">
						<h1>-60% de Descuento</h1>
					</div>
				      <div class="row">
				      	<a href="verProductos.html?key=-KlsZRwWNxGzo61j3yU9" class="btn btn-default">Ver Descuento</a>
				      </div>
				      
				</div>

				
		      
		    </div>
		</div>

		<!-- Barra de tabs -->
		<nav id="tabs" class="nav-extended">
			<div class="nav-content">
		      <ul class="tabs tabs-transparent center-align">
		        <li class="tab"><a class="active" href="#test1">Productos</a></li>
		        <li class="tab"><a href="#test2">Servicios</a></li>
		        <li class="tab"><a href="#test4">Restaurantes</a></li>
		      </ul>
    		</div>
		</nav>
	</div> <!-- FIN container-fluid -->


	<!-- EMPIEZA LOS DESCUENTOS -->
	<div class="container-fluid">
		<div id="cards-container" class="row col m12">
			
			<!-- Comienxo Poductos -->
			<section class="col s12" id="productos">
				<h3>Productos</h3>
				<!-- Colunma 1 Aquí se generan la primera mitad de 
				descuentos en la Colunma2 se genera la segunda mitad.
				ng-class="descuento.descuento > 49 ? 'big-card col s6 m6' : 'small-card col s12 m12'"-->
				<div class="row col s12 m12 l6 columna-1">

					<!-- Se repite las targetas de la mitad de descuentos con ng-repeat-->
					<!-- Si el descuento es mayor a 50 es una targeta grande en ng-class -->
					<div
					ng-repeat="descuento in toArray(listaDescuentos) | limitTo: toArray(listaDescuentos).length/2"
					ng-class="{'small-card col s6': descuento.descuento < 49, 'big-card col s12': descuento.descuento > 49}">

			          <div class="card">

			            <div class="card-image">

			              <img ng-src="{{descuento.imagenUrl}}">
			              <span class="sale">-{{descuento.descuento}}%</span>
			            </div>
			        
			            <div class="action">
				         
		              		<a class="waves-effect waves-light btn">
		              			<span class="titulo truncate">{{descuento.titulo}}</span><i class="material-icons right">keyboard_arrow_right</i>
		              		</a>
			            </div>

			            <input class="key" type="text" value="" hidden>
			          </div>
			        </div>


				</div> <!-- FIn columna 1 -->
				
				<!-- Colunma 2 -->
				<div class="row col s12 m12 l6 columna-2">
							      
					<!-- Se repite las targetas de la mitad de descuentos con ng-repeat-->
					<!-- Si el descuento es mayor a 50 es una targeta grande en ng-class -->
					<div
					ng-repeat="descuento in toArray(listaDescuentos) | limitTo: (toArray(listaDescuentos).length/2 - toArray(listaDescuentos).length)"
					ng-class="{'small-card col s6': descuento.descuento < 49, 'big-card col s12': descuento.descuento > 49}">

			          <div class="card">

			            <div class="card-image">

			              <img ng-src="{{descuento.imagenUrl}}">
			              <span class="sale">-{{descuento.descuento}}%</span>
			            </div>
			        
			            <div class="action">
				         
		              		<a class="waves-effect waves-light btn">
		              			<span class="titulo truncate">{{descuento.titulo}}</span><i class="material-icons right">keyboard_arrow_right</i>
		              		</a>
			            </div>

			            <input class="key" type="text" value="" hidden>
			          </div>
			        </div>

					
				</div><!-- FIn columna 2 -->

				<!-- FIN Productos -->
			</section>
			
			<!-- Comienxo Servicios -->
			<section class="col s12" id="servicios">
				<h3>Servicios</h3>
				<!-- Colunma 1 -->
				<div class="row col s12 m12 l6 columna-1">
					
					<!-- Se repite las targetas de la mitad de descuentos con ng-repeat-->
					<!-- Si el descuento es mayor a 50 es una targeta grande en ng-class -->
					<div
					ng-repeat="descuento in toArray(listaServicios) | limitTo: toArray(listaServicios).length/2"
					ng-class="{'small-card col s6': descuento.descuento < 49, 'big-card col s12': descuento.descuento > 49}">

			          <div class="card">

			            <div class="card-image">

			              <img ng-src="{{descuento.imagenUrl}}">
			              <span class="sale">-{{descuento.descuento}}%</span>
			            </div>
			        
			            <div class="action">
				         
		              		<a class="waves-effect waves-light btn">
		              			<span class="titulo truncate">{{descuento.titulo}}</span><i class="material-icons right">keyboard_arrow_right</i>
		              		</a>
			            </div>

			            <input class="key" type="text" value="" hidden>
			          </div>
			        </div>

				</div> <!-- FIn columna 1 -->
				
				<!-- Colunma 2 -->
				<div class="row col s12 m12 l6 columna-2">
					<!-- Se repite las targetas de la mitad de descuentos con ng-repeat-->
					<!-- Si el descuento es mayor a 50 es una targeta grande en ng-class -->
					<div
					ng-repeat="descuento in toArray(listaServicios) | limitTo: (toArray(listaServicios).length/2 - toArray(listaServicios).length)"
					ng-class="{'small-card col s6': descuento.descuento < 49, 'big-card col s12': descuento.descuento > 49}">

			          <div class="card">

			            <div class="card-image">

			              <img ng-src="{{descuento.imagenUrl}}">
			              <span class="sale">-{{descuento.descuento}}%</span>
			            </div>
			        
			            <div class="action">
				         
		              		<a class="waves-effect waves-light btn">
		              			<span class="titulo truncate">{{descuento.titulo}}</span><i class="material-icons right">keyboard_arrow_right</i>
		              		</a>
			            </div>

			            <input class="key" type="text" value="" hidden>
			          </div>
			        </div>		

				</div><!-- FIn columna 2 -->
				<!-- FIN SERVICIOS -->
			</section>
			

			<!-- Comienxo Restaurantes -->
			<section class="col s12" id="restaurantes">
				<h3>Restaurantes</h3>
				<!-- Colunma 1 -->
				<div class="row col s12 m12 l6 columna-1">

					<!-- Se repite las targetas de la mitad de descuentos con ng-repeat-->
					<!-- Si el descuento es mayor a 50 es una targeta grande en ng-class -->
					<div
					ng-repeat="descuento in toArray(listaRestaurantes) | limitTo: toArray(listaRestaurantes).length/2"
					ng-class="{'small-card col s6': descuento.descuento < 49, 'big-card col s12': descuento.descuento > 49}">

			          <div class="card">

			            <div class="card-image">

			              <img ng-src="{{descuento.imagenUrl}}">
			              <span class="sale">-{{descuento.descuento}}%</span>
			            </div>
			        
			            <div class="action">
				         
		              		<a class="waves-effect waves-light btn">
		              			<span class="titulo truncate">{{descuento.titulo}}</span><i class="material-icons right">keyboard_arrow_right</i>
		              		</a>
			            </div>

			            <input class="key" type="text" value="" hidden>
			          </div>
			        </div>
				</div> <!-- FIn columna 1 -->
				
				<!-- Colunma 2 -->
				<div class="row col s12 m12 l6 columna-2">
					<!-- Se repite las targetas de la mitad de restaurantes con ng-repeat-->
					<!-- Si el restaurante es mayor a 50 es una targeta grande en ng-class -->
					<div
					ng-repeat="descuento in toArray(listaRestaurantes) | limitTo: (toArray(listaRestaurantes).length/2 - toArray(listaRestaurantes).length)"
					ng-class="{'small-card col s6': descuento.descuento < 49, 'big-card col s12': descuento.descuento > 49}">

			          <div class="card">

			            <div class="card-image">

			              <img ng-src="{{descuento.imagenUrl}}">
			              <span class="sale">-{{descuento.descuento}}%</span>
			            </div>
			        
			            <div class="action">
				         
		              		<a class="waves-effect waves-light btn">
		              			<span class="titulo truncate">{{descuento.titulo}}</span><i class="material-icons right">keyboard_arrow_right</i>
		              		</a>
			            </div>

			            <input class="key" type="text" value="" hidden>
			          </div>
			        </div>						
				</div><!-- FIn columna 2 -->
				<!-- FIN SERVICIOS -->
			</section>

		</div><!-- Fin Cards-container -->
	</div>
	
	

	<!-- SCRIPTS -->
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script src="../bower_components/materialize/dist/js/materialize.min.js"></script>
	<script src="../js/index.js"></script>
</body>
</html>