<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper">
				<a href="index.html" class="brand-logo"><img id="logo" src="../img/logo.png"><span>PROMOS</span></a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li ng-click="searchToggle()" id="search-icon"><a href="#"><i class="material-icons">search</i></a></li>
					<li><a ng-click="carritoCompras()"><i class="material-icons">shopping_cart</i></a></li>
					<li><a href="#"><i class="material-icons left">person</i>{{nombre}}</a></li>
					<li><a ng-click="logOut()">Salir</a></li>
				</ul>
			</div>
		</nav> <!-- FIN nav -->
	</div>

	<ul class="side-nav" id="mobile-demo">
		<li><a href="#">Registrarse</a></li>
    	<li><a href="#">Iniciar Sesión</a></li>
    	<li><a href="#"><i class="material-icons white-text">search</i></a></li>
	</ul>