  <!DOCTYPE html>
  <html ng-app="descuentosAdquiridos">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Promos</title>
    <!-- Materialize -->
    <link rel="stylesheet" href="../bower_components/materialize/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/navbar-visitor.css">
    <link rel="stylesheet" href="../css/index-style.css">
    <link rel="stylesheet" href="../css/servicios.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
   <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

        <script type="text/javascript" src="../js/descuentosAdq.js"></script>
 <!--   <script type="text/javascript" src="../Servicios/descuentosAdquiridosServ.js"></script>
  
	<script type="text/javascript" src="../Controladores/descuentosAdquiridosCtrl.js"></script>
-->
  </head>
  <body ng-controller="descuentosAdquiridosCtrl">
    <!--Barra de navegación-->
    <div ng-include ng-show="nombre" src="'navbar-usuario.html'" onload="finishLoad()">

  </div>
 <!-- <div ng-include ng-hide="nombre" src="'navbar-visitante.html'" onload="finishLoad()">
  </div> -->
  <!-- Barra de busqueda -->
  <div class="search row">
    <div class="hide-on-med-and-down col l12">
      <form  action="busca.html" method="GET">
        <div class="input-field">
           <i class="material-icons prefix">search</i>
                <input id="icon_prefix" name="q" type="text" class="validate" placeholder="Buscar...">
                <input type="submit" hidden name="" value="LOL">
        </div>
      </form>
    </div>
  </div>
    <!--Detalles del producto o servicio-->
    <div class="container" 
         ng-repeat="objeto in lista"
         ng-if="estaObjeto(objeto)">

      <div class="row">
        <div class="col s12 m12">
          <div class="card-panel">
            <div class = "container-card">
              <!--Imagen del produto o servicio-->
              <img  class="imagen-servicio z-depth-3 responsive-img img-producto" ng-src="{{objeto.imagen}}">
              <!--Botón de redes sociales-->
              <div class="row grid-elementos">
                <!--Titulo del producto o servicio-->
                <div class=""><h3 class="titulo">{{objeto.titulo}}</h3></div>
                <!--Descuento-->
                <div class=""><h3 class="descuento">-{{objeto.descuento}}%</h3></div>
                <!--Botón para abrir el pop up-->
       
              </div>
              <!--Descripción del producto o servicio-->
              <h5>Descripcion:</h5>
              <p id="descripcion" class ="fi">
                {{objeto.descripcion}}
              </p>
            
            
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" 
        ng-repeat="objeto in toArray(listaCitas)"
        ng-if="estaObjeto(objeto)"
        >

      <div class="row">
      <div class="col s12 m12">
        <div class="card-panel">
          <div class = "container-card">
            <!--Imagen del produto o servicio-->
            <img  class="imagen-servicio z-depth-3 responsive-img img-producto" ng-src="{{objeto.imagen}}">
            <!--Botón de redes sociales-->
            <div class="row grid-elementos">
              <!--Titulo del producto o servicio-->
              <div class=""><h3 class="titulo">{{objeto.servicio}}</h3></div>
             
              <!--Botón para abrir el pop up-->
                <div class="col s12">
                  <a class="waves-effect waves-light button-obtener waves-effect waves-light btn cd-popup-trigger" ng-click="cancelar(objeto)"><i class="material-icons right ">delete</i>Cancelar</a>
                </div>
            </div>
            <!--Descripción del producto o servicio-->
            <h5>Descripcion:</h5>
            <p id="descripcion" class ="fi">
              {{objeto.descripcion}}
              <br/>
              Fecha agendada : {{objeto.fecha}}
              <br/>
              Horario de la Cita :{{objeto.hora}}
            </p>
            
          </div>
        </div>
      </div>
    </div>
    </div>
  
       

    <!-- SCRIPTS -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/materialize/dist/js/materialize.min.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/opciones_mapa.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXm_2Gm3d8mYibMixG-AJOmM2iUDHoiZA&callback=initMap"></script>
  </body>
  </html>