  <!DOCTYPE html>
  <html  ng-app="verProducto-app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Promos</title>
    <!-- Materialize -->
    <link rel="stylesheet" href="../bower_components/materialize/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/navbar-visitor.css">
    <link rel="stylesheet" href="../css/index-style.css">
    <link rel="stylesheet" href="../css/servicios.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
      <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.0.2/angularfire.min.js"></script>
    <!-- Controlador -->
    <script type="text/javascript" src="../js/verProducto-controlador.js"></script>
  </head>
  <body ng-controller="verProducto-controlador as ctrl">
    <!--Barra de navegación-->
    <div ng-include ng-show="nombre" src="'navbar-usuario.html'" onload="finishLoad()">
  </div>
  <div ng-include ng-hide="nombre" src="'navbar-visitante.html'" onload="finishLoad()">
  </div>
  <!-- Barra de busqueda -->
  <div class="search row">
    <div class="hide-on-med-and-down col l12">
      <form  action="busca.html" method="GET">
        <div class="input-field">
           <i class="material-icons prefix">search</i>
                <input id="icon_prefix" name="q" type="text" class="validate" placeholder="Buscar...">
                <input type="submit" hidden name="" value="LOL">
        </div>
      </form>
    </div>
  </div>
    <!-- "Repite" la vista filtrado en el key proporcionado por GET en el url 
        digo "Repite" por que solo habrá uno que coicida de la lista de productos.
    -->
    <div class="container" 
          ng-repeat="descuento in toArray(listaDescuentos) | filter:key:strict">
      <div class="row">
        <div class="col s12 m12">
          <div class="card-panel">
            <div class = "container-card">
              <!--Imagen del produto o servicio-->
              <img  class="imagen-servicio z-depth-3 responsive-img img-producto" ng-src="{{descuento.imagenUrl}}">
              <!--Botón de redes sociales-->
              <div class="row grid-elementos">
                <!--Titulo del producto o servicio-->
                <div class="col s12 m6"><h3 class="titulo">{{descuento.titulo}}</h3></div>

                <!--Descuento-->
                <div class="col s12 m6"><h3 class="descuento">-{{descuento.descuento}}%</h3></div>
                <!--Botón para abrir el pop up-->
                <div class="col s12">
                  <a class="waves-effect waves-light button-obtener waves-effect waves-light btn cd-popup-trigger" ng-click="onClickBotonObtener()"><i class="material-icons right agendar">event</i>Obtener</a>
                </div>
              </div>
              <!--Descripción del producto o servicio-->
              <h5>Descripcion:</h5>
              <p id="descripcion" class ="fi">
                {{descuento.descripcion}}
              </p>
             
            </div>
          </div>
        </div>
      </div>
    </div> <!-- Fin container -->
    
    <!--Pop up-->
              <div class="cd-popup" role="alert">
                <div class="cd-popup-container productos-container">
                  <div class="banda">
                    <div class="pop-contenedor">
                      <!-- <img class="col s6 imagen-servicio imagen-servicio-popup z-depth-3 responsive-img img-producto" src="../img/audifonos.jpg"> -->
                      <div class="row col s6 grid-elementos grid-elementos-pop">
                        
                      </div>
                    </div>
                  </div>
                  <div class="row col s12 contenedor-form">
                  <h3 class="titulo">Audifonos</h3>
                      <form class="col s12 formulario form-productos">
                        <div class="row">
                        <div class="col m6 s12">
                          <p class="padding">
                            <input type="checkbox" id="cuponCheck" ng-click="checkBoxChecked()"/>
                            <label for="cuponCheck">Utilizar cupon del mes</label>
                          </p>
                        </div>
                        <div class "col m6 s12">
                          <div class="input-field col m6 s12 añadir codigoP">
                            <input id="cp" autocomplete="off" maxlength="5" type="text" class="validate" ng-model="cp" ng-keyup="validaCp(cp)">
                            <label for="last_name">Códogo Postal</label>
                          </div>
                          <p class="err-msg msg">Código postal inválido</p>
                          <p class="valido-msg msg">Código postal válido</p>
                          <p class="no-registrado-msg msg">Lo sentimos su código postal no está registrado</p>
                        </div>
                        </div>
                      </form>
                    </div> <!-- cd-popup-container -->
                    <a ng-click="closePopUp()" class="cd-popup-close img-replace">Close</a>
                    <ul class="cd-buttons row">
                      <li><a ng-click="closePopUp()" class="btnCancAcept col s6">Cancelar</a></li>
                      <li><a id="obtener" class="btn btn-default col s6">Obtener</a></li>
                      <li><a id="aceptar" style="display: none" class="btnCancAcept col s6">Aceptar</a></li>
                    </ul>
                  </div> <!-- cd-popup -->

    


       

    <!-- SCRIPTS -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/materialize/dist/js/materialize.min.js"></script>
    <script src="../js/index.js"></script>
    <!-- <script src="../js/opciones_mapa.js"></script> -->
  </body>
  </html>